@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



#dark {
    background-color: #433e47;
    color: #fff !important;
}

#dark h3,
#dark span {
    color: #fff !important
}

#dark ol li {
    color: #a4a4a4 !important
}

#dark section {
    background-color: #1f1a24 !important;
}

#dark main {
    background-color: #2b2e33 !important;
}

#dark aside,
#dark aside li {
    background-color: #2b2e33 !important;
    color: #fff;
}

#dark aside ul {
    background-color: #2b2e33 !important;
    color: #fff;

}